// ==================================
// c-button 操作用ボタン
// ==================================
.c-button {
    border: 1px solid $color_black;
    border-radius: 4px;
    display: inline-block;
    padding: $space_2 $space_4;
    box-sizing: border-box;
    cursor: pointer;
    @include mq(){
        padding: $space_2;
    }
    &--sp{
        @include mq(){
            width: 100%;
        } 
    }

    &__form{
        background-color: $color_blue_light;
    }

    &--twitter {
        color: $color_black;
        box-shadow: 0 1px 2px $color_shadow;
        border: none;
        &:hover{
            color: $color-white;
            background-color: $color_black;
        }
        @include mq(){
            position: relative;
            top: 4px;
        }
    }
    &--like--edit {
        color: $color_black;
        box-shadow: 0 1px 2px $color_shadow;
        border: none;
        &:hover{
            color: $color-white;
            background-color: $color_black;
        }
    }
    &--add {
        color: $color_black;
        box-shadow: 0 1px 2px $color_shadow;
        border: none;
        &:hover{
            color: $color-white;
            background-color: $color_black;
        }
        @include mq(){
            display: none;
        }
    }
    &--add--wrap{
        display: none;
        @include mq(){
            display: block;
            right: calc(100%/2.5);
            position: fixed;
            bottom: $space_6;
        }
    }
    &--add--sp {
        @include mq(){
            box-shadow: 0 1px 2px $color_shadow;
            border: none;
            padding: $space_3;
            border-radius: 50%;
            height: $space_14;
            width: $space_14;
            font-size: $font-size_default;
            z-index: 200;
            background-color: $color_blue_light2;
            &:hover{
                color: $color-white;
                background-color: $color_black;
            }
        }

    }
    &--delete {
        color: $color_black;
        box-shadow: 0 1px 2px $color_shadow;
        border: none;
        &:hover{
            background-color: $color-danger;
        }
        @include mq(){
            position: relative;
            top: 4px;
        }
    }
    &--like--delete {
        color: $color_black;
        box-shadow: 0 1px 2px $color_shadow;
        border: none;
        &:hover{
            background-color: $color-danger;
        }
    }
    &__status{
        &--on {
            color: $color_black;
            border: none;
            box-shadow: 0 1px 2px  $color_shadow;
            &:hover{
                color: $color-white;
                background-color: $color_black;
            }
        }
        &--off {
            color: $color_black;
            border: none;
            box-shadow: 0 1px 2px  $color_shadow;
            &:hover{
                color: $color-white;
                background-color: $color_black;
            }
        }
    }

}