// ============================
// ボタン
// ============================
.p-button{
    &__register{
        &__top{
            // aタグ
            background-color: #FFA726;
            box-shadow: 0 1px 4px #5a5b5e;
            border-radius: 4px;
            width: 100%;
            padding: 12px 16px;
            display: inline-block;
            text-align: center;
            box-sizing: border-box;
            &:hover{
                cursor: pointer;
            }
        }
        &__new{
            background-color: #FFA726;
            box-shadow: 0 1px 4px #5a5b5e;
            border-radius: 4px;
            width: 100%;
            padding: 12px 16px;
            border: none;
            box-sizing: border-box;
            &:hover{
                cursor: pointer;
            }
        }
    }
    &__login{
        // aタグ
        background-color: #2196F3;
        box-shadow: 0 1px 4px #5a5b5e;
        border-radius: 4px;
        width: 100%;
        padding: 12px 16px;
        display: inline-block;
        text-align: center;
        box-sizing: border-box;
        &:hover{
            cursor: pointer;
        }
    }
    &__account{
        &__add{
            // aタグ
            background-color: #fff;
            box-shadow: 0 1px 4px #5a5b5e;
            border-radius: 4px;
            width: 100%;
            padding: 12px 16px;
            display: inline-block;
            text-align: center;
            box-sizing: border-box;
            &:hover{
                cursor: pointer;
            }
        }
    }
    &__trash{
        // iタグ
        background-color: #fff;
        box-shadow: 0 1px 4px #5a5b5e;
        border-radius: 4px;
        width: 100%;
        padding: 12px 16px;
        display: inline-block;
        text-align: center;
        box-sizing: border-box;
        &:hover{
            background-color: rgba(250, 56, 56, 0.61);
            cursor: pointer;
        }
    }
    &__delete{
        // divタグ
        background-color: #EF5350;
        box-shadow: 0 1px 4px #5a5b5e;
        border-radius: 4px;
        width: 100%;
        padding: 12px 16px;
        display: inline-block;
        text-align: center;
        box-sizing: border-box;
        &:hover{
            background-color: rgba(250, 56, 56, 0.61);
            cursor: pointer;
        }
    }
}