// ==================================
// p-contents
// ==================================
.p-contents {
    &__area {
        width: 980px;
        min-width: 980px;
        @include mq() {
            width: 100%;
            min-width: initial;
        }
        &--narrow {
            width: 450px;
            min-width: 450px;
            @include mq(){
                width: 100%;
                min-width: initial;
            }
        }
    }
    &__head {
        font-size: $font-size_default;
        text-align: center;
        margin-bottom: $space_6;
        @include mq(){
            font-size: $font-size_m;
            margin-bottom: $space_8;
        }
    }
}