// ==================================
// p-board
// ==================================
.p-board{
    &__sp--top{
        @include mq(){
            position: fixed;
            width: 100%;
            top: 48px;
            // &.none {
            //     top: 0px;
            // }
        }
    }
    &__wrap{
        width:100%;
        display: flex;
        @include mq(){
            display: block;
        }
    }
    // sidebar index順序 navbar > open-sidebar > open-navi > modal
    &__sidebar-sp{
        display: none;
        @include mq(){
            display: none;
            &.active {
                width:100%;
                color: #fff;
                background-color: #333;
                height: 100vh;
                // height: calc(100vh - 48px);;
                display: block;
                transform: translateX(0px);
                transition: all 0.5s ease-in-out;
            }
        }
    }

    &__navi-sp{
        display: none;
        @include mq(){
            display: none;
            &.active {
                width:100%;
                color: #fff;
                background-color: #333;
                // height: 100vh;
                height: calc(100vh - 48px);;
                display: block;
                transform: translateX(0px);
                transition: all 0.5s ease-in-out;
            }
        }
    }

    &__sidebar-pc{
        position: fixed;
        top: 48px;
        width:20%;
        color: #fff;
        background-color: #333;
        height: calc(100vh);
        @include mq(){
            display: none;
        }
    }
    &__mp-4{
        padding: 16px;
        font-size: 13px;
    }
    &__mr-2{
        margin-right: 8px;
    }
    &__inner{
        width: 50%;
    }
    // フォロー フォロワー表示
    &__plate{
        justify-content: center;
        align-items: baseline;
        display: flex;
        margin-top: 8px;
    }
    &__link{
        padding: 4px 32px;
    }
    &__label{
        &:hover{
            cursor: pointer;
        }
    }
    &__mt-8{
        margin-top: 32px;
    }
    &__text-small{
        font-size: 13px;
    }

    // body
    &__body{
        width:80%;
        max-height: calc(100vh - 48px);
        position: fixed;
        top: 48px;
        left: 20%;
        overflow-y: scroll;
        @include mq(){
            width: 100%;
            height: 100%;
            display: block;
            position: unset;
            top: unset;
            left: 0;
            &.none {
                display: none;
            }
        }
    }
    &__section{
        @include mq(){
            width: 100%;
            display: block;
        }
    }
}
.is-selected {
    animation: selected 2s ease-in-out infinite;
}
@keyframes selected {
    0% {
        background: rgba(57, 157, 224, 0.2);
    }
    50% {
        background: rgba(57, 157, 224, 0.3);
    }
    100% {
        background: rgba(57, 157, 224, 0.2);
    }
}

// sidebarのトランジション
.side-enter {
    opacity: 0;
}
.side-enter-to {
    opacity: 1;
}
.side-enter-active {
    transition: all .7s 0s ease;
}
.side-leave {
    opacity: 1;
}
.side-leave-to {
    opacity: 0;
}
.side-leave-active {
    transition: all .2s 0s ease;
}

// dashboardのトランジション
.t-dashboard_panel-enter {
    opacity: 0;
}
.t-dashboard_panel-enter-to {
    opacity: 1;
}
.t-dashboard_panel-enter-active {
    transition: all .7s 0s ease;
}
.t-dashboard_panel-leave {
    opacity: 1;
}
.t-dashboard_panel-leave-to {
    opacity: 0;
}
.t-dashboard_panel-leave-active {
    display: none;
}