.p-board{
    &__sp--top{
        @include mq(){
            position: fixed;
            z-index: 2000;
            width: 100%;
        }
    }
    &__wrap{
        width:100%;
        display: flex;
        @include mq(){
            display: block;
        }
    }
    // sidebar
    &__sidebar-sp{
        display: none;
        @include mq(){
            display: none;
            &.active {
                width:100%;
                color: #fff;
                background-color: #333;
                height: calc(100vh - 48px);
                display: block;
                transform: translateX(0px);
                transition: all 0.5s ease-in-out;
            }
        }
    }
    &__sidebar-pc{
        position: fixed;//
        top: 48px;//
        width:20%;
        color: #fff;
        background-color: #333;
        height: calc(100vh);//
        @include mq(){
            display: none;
        }
    }
    &__top{
        margin-top: 8px;
    }
    &__d-flex{
        display: flex;
    }
    &__mp-4{
        padding: 16px;
    }
    &__mr-2{
        margin-right: 8px;
    }
    &__space-end{
        justify-content: space-between;
        align-items: baseline;
    }
    &__link{
        padding: 8px 32px;
    }
    &__label{
        &:hover{
            cursor: pointer;
        }
    }
    &__mt-8{
        margin-top: 32px;
    }
    &__text-small{
        font-size: 13px;
    }

    // body
    &__body{
        width:80%;
        max-height: calc(100vh - 48px);
        position: fixed;
        top: 48px;
        left: 20%;
        overflow-y: scroll;
        @include mq(){
            width: 100%;
            display: block;
            position: unset;
            top: 0;
            left: 0;
        }
    }
    &__section{
        @include mq(){
            width: 100%;
            display: block;
        }
    }
}
.is-selected {
    animation: selected 2s ease-in-out infinite;
}
@keyframes selected {
    0% {
        background: rgba(57, 157, 224, 0.2);
    }
    50% {
        background: rgba(57, 157, 224, 0.3);
    }
    100% {
        background: rgba(57, 157, 224, 0.2);
    }
}

// sidebarのトランジション
.side-enter {
    opacity: 0;
}
.side-enter-to {
    opacity: 1;
}
.side-enter-active {
    transition: all .7s 0s ease;
}
.side-leave {
    opacity: 1;
}
.side-leave-to {
    opacity: 0;
}
.side-leave-active {
    transition: all .2s 0s ease;
}

// dashboardのトランジション
.t-dashboard_panel-enter {
    opacity: 0;
}
.t-dashboard_panel-enter-to {
    opacity: 1;
}
.t-dashboard_panel-enter-active {
    transition: all .7s 0s ease;
}
.t-dashboard_panel-leave {
    opacity: 1;
}
.t-dashboard_panel-leave-to {
    opacity: 0;
}
.t-dashboard_panel-leave-active {
    display: none;
}