// ==================================
// p-form
// ==================================
.p-form {
    width: 100%;
  
    &__label {
        font-size: $font-size_s;
        display: block;
        margin-bottom: $space_1;
    }
  
    &__item {
        font-size: $font-size_s;
        width: 100%;
        height: $space_10;
        font-weight: 100;
        padding: $space_2;
        box-sizing: border-box;
        margin-bottom: $space_7;
        line-height: $space_6;
        border: 1px solid $color_black5;
        border-radius: 4px;
        @include mq() {
              font-size: $font-size_default;
              line-height: $space_5;
              margin-bottom: $space_4;
        }
  
        &--date {
            width: 30%;
        }
  
        &--textarea {
            height: 150px;
            letter-spacing: 0.05em;
        }
    }
  
    &__date {
        // font-size: $font-size_s;
        // width: 45%;
        // height: $space_10;
        // font-weight: 100;
        // padding: $space_2;
        box-sizing: border-box;
        // margin-bottom: $space_7;
        // line-height: $space_6;
        border: 1px solid $color_black5;
        border-radius: 4px;
        @include mq() {
            width: 100% !important;
        }
    }
    &__time {
        box-sizing: border-box;
        border: 1px solid $color_black5;
        border-radius: 4px;
        @include mq() {
            width: 100% !important;
        }
    }
  
    &__button {
        text-align: right;
        transition: 0.3s;
        @include mq() {
            text-align: center;
            width: 100%;
        }
    }
  
    &__select {
        width: 100%;
        font-size: $font-size_s;
        height: $space_10;
        font-weight: 100;
        padding: $space_2;
        box-sizing: border-box;
        margin-bottom: $space_5;
        line-height: $space_6;
        border: 1px solid $color_black5;
        border-radius: 4px;
        @include mq(){
            font-size: $font-size_s;
            line-height: $space_5;
        }
    }
  
    &__notion {
        font-size: $font-size_s;
        padding: $space_2 0px $space_5;
    }

    &__delete {
        font-size: $font-size_s;
        text-align: center;
        &__wrap{
            box-sizing: border-box;
            margin-top: $space_7;
            display: flex;
            // justify-content: center;
            justify-content: space-around;
        }
    }

    &__half-btn {
        display: flex;
        align-items: center;
        margin-right: $space_2;
        justify-content: center;
        font-size: $font-size_xs;
    }
  
    &__errors {
        color: $color-danger;
        padding: $space_2;
        margin-bottom: $space_5;
        border: 1px solid $color-danger;
        border-radius: 4px;
        list-style: none;
    }
}