// ==================================
// panel
// ==================================
.p-panel {
    padding: 24px;
    box-sizing: border-box;
    height: calc(100vh - 48px);
    @include mq() {
        padding: 12px;
    }
    &__nodata{
        font-size: 14px;
        margin-top: 8px;
    }
    &__error{
        color: red;
        font-size: 14px;
        margin-top: 8px;
    }
}