// ==================================
// panel
// ==================================
.p-panel {
    padding: $space_6;
    box-sizing: border-box;
    height: 100%;
    @include mq() {
        padding: $space_3;
    }
    &__nodata{
        font-size: $font-size_s;
        margin-top: $space_2;
    }
    &__error{
        color: red;
        font-size: $font-size_s;
        margin-top: $space_2;
    }
    &__back{
        @include mq() {
            height: calc(100vh - 48px);
        }
    }
}