// ============================
// policy
// ============================
.p-policy{
    display: block;
    &__main-container{
        width: 80%;
        text-align: center;
        margin: 0px auto $space_12;
        @include mq(){
            &.none {
                display: none;
            }
        }
    }

    &__container{
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        color: $color_black;
        @include mq(){
            margin: 0 auto;
        }
    }
    &__title{
        margin-top: 0px;
        font-size: $font-size_m;
        padding: $space_8;
        &--sub{
            text-align: left;
            margin-top: $space_8;
            font-size: $font-size_default;
            font-weight: bold;
            padding: $space_3;
        }
    }
    &__text{
        box-sizing: border-box;
        text-align: left;
        display: block;
        font-size: $font-size_xs;
    }
    &__list{
        box-sizing: border-box;
        text-align: left;
        display: block;
        counter-reset: my-counter;
        margin-top: $space_4;
        padding-left: $space_2;
        font-size: $space_3;
        margin-left: $space_10;
        &__item{
            margin-bottom: $space_2;
            line-height: 1.8;
            &::before{
                content: counter(my-counter)'.';
                counter-increment: my-counter;
            }
        }
        @include mq(){
            margin-left: 0px;
            margin-top: 0px;
            padding-left: 0px;
        }
    }

}