// ============================
// 新規ユーザー登録画面
// ============================

.p-regist{
    &__caution{
        font-size: $font-size_xs;
        // margin-right: $space_3;
        // margin-left: $space_3;
        position: relative;
        top: $space_3;
    }
    // &__setting--margin{
    //     margin-right: $space_3;
    //     margin-left: $space_3;
    // }
    &__form{
        display: block;
        width: 100%;
        padding: $space_1 $space_3;
        font-size: $space_4;
        line-height: 1.6;
        color: $color_black3;
        border: 1px solid $color-white4;
        border-radius: 4px;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        margin: $space_1 $space_3;
    }
    &__inner{
        margin-top: $space_3;
        align-items: baseline;
    }
}
// ============================
// お問い合わせ画面
// ============================

.p-contact{
    &__wrap{
        margin-bottom: $space_3;
    }
    &__title{
        width: 100%;
        padding: $space_4 $space_4;
    }
    &__inner{
        margin-bottom: $space_3;
    }
    &__text{
        padding: $space_2;
        border: 1px solid #999;
        opacity: 0.8;
        border-radius: 4px;
    }
    &__textarea{
        max-height: 200px;
        overflow-y: scroll;
    }
}