// ============================
// bladeファイル ボタンレイアウト
// ============================
.p-send{
    &__button{
        background-color: $color_sky;
        box-shadow: 0 1px $space_1 $color_shadow;
        border-radius: 4px;
        width: 100%;
        padding: $space_3 $space_4;
        border: none;
        box-sizing: border-box;
        &:hover{
            cursor: pointer;
        }
    }
    &__disable{
        background-color: #b9bbbd;
        box-shadow: 0 1px $space_1 $color_shadow;
        border-radius: 4px;
        width: 100%;
        padding: $space_3 $space_4;
        border: none;
        box-sizing: border-box;
        &:hover{
            cursor: pointer;
        }
    }
    &__text{
        margin-top: $space_7;
        word-break: break-word;
        text-align: center;
        font-size: $font-size_s;
    }
    &__form{
        display: block;
        width: 100%;
        box-sizing: border-box;
        font-size: $font-size_m;
        line-height: 2;
        color: $color_black3;
        border: 1px solid $color-white4;
        border-radius: 4px;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    &__section{
        display: block;
        margin-top: $space_3;
    }
    &__inner{
        align-items: baseline;
    }
    &__margin{
        margin: $space_3 0px;
    }
}