// ==================================
// p-table
// ==================================
.p-table {
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    @include mq() {
        letter-spacing: 0;
        margin-bottom: $space_21;
    }
    // &__text--small{
    //     @include mq() {
    //         font-size: $font-size_vs;
    //     }
    // }
  
    &__img--wrap {
        text-align: center;
        margin-top: 100px;
    }
    &__img--small {
        width: 50%;
    }
    &__title {
        margin-bottom: $space_5;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include mq() {
            display: block;
        }
    }
    &__btn-wrap {
        @include mq() {
            display: block;
            text-align: end;
        }
    }
  
    &__caption {
        font-weight: bold;
        font-size: $font-size_l;
        text-align: left;
        display: inline-block;
        @include mq() {
            font-size: 16px;
            width: 100%;
        }
        &__text {
            font-size: $font-size_xs;
            @include mq() {
                font-size: $font-size_s;
                text-align: left;
                margin-top: $space_3;
                margin-bottom: $space_3;
            }
        }
    }
  
    &__button {
        display: inline-block;
        @include mq() {
            min-width: 28px;
            max-height: 28px;
            margin: 2px;
            max-width: 28px;
            min-height: 28px;
            box-sizing: border-box;
        }
    }
  
    &__head {
        font-size: $font-size_m;
        font-weight: bold;
        @include mq() {
            font-size: $font-size_default;
        }
    }
  
    &__th {
        padding: $space_2 $space_3;
        border-bottom: 1px solid $color_black5;
        box-sizing: border-box;
        font-size: $font-size_xs;
        @include mq() {
            font-size: $font-size_xs;
            padding: $space_1;
        }
        &--follow {
            &:nth-child(1), &:nth-child(2) {
                width: 20%;
                @include mq() {
                    width: 20%;
                }
            }
            &:nth-child(3) {
                @include mq() {
                    width: 50%;
                }
            }
            &:nth-child(4) {
                @include mq() {
                    width: 20%;
                }
            }
        }
        &--like {
            &:nth-child(1) {
                width: 70%;
            }
            &:nth-child(2) {
                width: 30%;
            }
        }
        &--tweet {
            &:nth-child(1) {
                width: 10%;
                @include mq() {
                    width: 20%;
                }
            }
            &:nth-child(2) {
                width: 40%;
            }
            &:nth-child(3) {
                width: 25%;
                @include mq() {
                    width: 30%;
                }
            }
            &:nth-child(4) {
                width: 20%;
                @include mq() {
                    width: 20%;
                }
            }
        }
        &--keyword {
            &:nth-child(1) {
                width: 20%;
            }
            &:nth-child(2), &:nth-child(3) {
                width: 30%;
                @include mq() {
                    width: 40%;
                }
            }
            &:nth-child(4) {
                width: 20%;
                @include mq() {
                    width: 20%;
                }
            }
        }
    }
  
    &__td {
        padding: $space_1 $space_3;
        border-bottom: 1px solid $color_black5;
        font-size: $font-size_s;
        @include mq() {
            font-size: $font-size_vs;
            padding: $space_1;
            word-break: break-word;
            border-bottom: 1px solid $color_black5;
        }
    }
    &__test-xs {
        font-size: $font-size_xs;
    }
    &__action {
        text-align: end;
    }
}