// ==================================
// p-twitter
// ==================================
.p-twitter {
    width: 100%;
    margin-top: $space_6;
    margin-bottom: $space_6;
    &__card {
        overflow: hidden;
        transition: 0.5s;
        padding: $space_1;
        border-radius: 4px;
        margin-bottom: 1px;
        box-shadow: 0 0px 2px $color-gray;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include mq(){
              height: $space_15;
        }
  
        &:hover {
            background-color: $color_black_hover;
            cursor: pointer;
            @include mq(){
                transform: initial;
            }
        }
    }
  
    &__create {
        font-size: $font-size_l;
        line-height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include mq() {
            font-size: $font-size_m;
            line-height: 40px;
        }
    }
  
    &__width-80 {
        width: 80%;
    }
  
    &__img{
        background: $color-brown;
        height: $space_12;
        width: $space_12;
        border-radius: 50%;
        margin-right: $space_2;
        float: left;
        @include mq(){
            height: $space_10;
            width: $space_10;
        }
    }
  
    &__ids{
        line-height: 25px;
        font-size: $font-size_s;
        overflow: auto;
        @include mq(){
            line-height: 20px;
            font-size: $font-size_s;
        }
    }
  
    &__text__bold{
        font-weight: bold;
    }
  
}