// ============================
// 新規ユーザー登録画面
// ============================
.p-verify{
    &__container{
        width: 530px;
        margin: $space_15 auto;
        padding: $space_8;
        box-sizing: border-box;
        background: $color-white5;
        font-size: $font-size_xxs;
        @include mq(){
            width: 100%;
            padding: $space_3;
            margin: 0px auto;
        }
    }
    &__here{
        border-radius: 4px;
        box-shadow: 0 2px 4px 0 $color_shadow_verify;
        background-color: $color-white;
        box-sizing: border-box;
        border: 0.1px solid $color_border_verify;
        padding: $space_3 $space_4;
        @include mq(){
            width: 100%;
            margin: 0px auto;
            padding: $space_3 $space_4;
        }
        &:hover{
            transition: all .5s;
            transform: translateY(-2px);
            opacity: 0.8;
        }
    }
    &__text{
        padding: $space_3 $space_4;
    }
}