// ============================
// 読み込むベースの要素
// ============================
.l-body--base{
    padding: 0;
    margin: 0;
    color: $color_black;
    font-family: font-family;
    @include mq(){
        width: 100%;
        display: block;
    }
    &-head{
        position: absolute;
        width: 100%;
        display: block;
    }
}
