.l-contents{
    padding: $space_6;
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 48px);
    box-sizing: border-box;
    @include mq(){
        padding: $space_5;
    }
}