// ============================
// フッター
// ============================
footer{
    @include mq(){
        font-size: 17px;
        position: fixed;
        width: 100%;
        bottom: 0px;
    }
  }
.l-footer{
    font-size: 12px;

    &__copyright{
        margin: 8px 32px;
    }
    &__info{
        margin: 0px 32px 8px 32px;
    }
    &__list{
        margin-top: 8px;
        @include mq(){
            margin: 8px 0px;
        }
    }
    &__href{
        color: #fff;
    }

}