// ============================
// フッター下部固定用
// ============================
footer{
    @include mq(){
        font-size: 17px;
        margin-bottom: 16px;
        position: fixed;
        width: 100%;
        bottom: 0px;
    }
  }
.p-footer{
    font-size: 12px;
    @include mq(){
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 13px;
        justify-content: center;
        align-items: center;
    }
    &__copyright{
        box-sizing: border-box;
        margin: 8px 32px;
        position: relative;
        top: 50px;
        @include mq(){
            font-size: 13px;
            text-align: center;
            margin-top: 4px;
        }
    }
    &__info{
        margin: 8px 32px;
        position: relative;
        top: 50px;
        @include mq(){
            font-size: 14px;
            margin: 4px 16px 16px;
        }
    }
    &__menu{
        display: grid;
    }
    &__list{
        margin-top: 8px;
        @include mq(){
            margin: 0px 4px;
        }
    }
    &__href{
        color: #fff;
    }

}