// ============================
// フッター
// ============================
footer{
    @include mq(){
        font-size: $font-size_m;
        width: 100%;
        bottom: 0px;
    }
  }
.l-footer{
    font-size: $font-size_xs;

    &__copyright{
        margin: $space_2 $space_8;
        font-size: $font-size_2s;
    }
    &__info{
        margin: 0px $space_8 $space_2 $space_8;
    }
    &__list{
        margin-top: $space_2;
        @include mq(){
            margin: $space_2 0px;
        }
    }
    &__href{
        color: $color-white;
    }

}