// ============================
// ヘッダー　PC用
// ============================
.logo{
    margin-left: $space_4;
}
.l-navbar{
    &__main-wrap{
        width: 100%;
        display: flex;
        justify-content: space-between;
        background: $color_blue;
        align-items: center;
        height: $space_12;
        position: fixed;
        @include mq() {
            padding: 0 $space_1;
            box-sizing: border-box;
            position: static;
        }
    }
    &__align{
        display: flex;
        justify-content: space-between;
    }
    &__sp__d-flex{
        @include mq() {
            display: flex;
        }
    }
    &__icon {
        display: none;
        cursor: pointer;
        @include mq(){
            display: block;
            margin-left: $space_4;
        }
    }
    &__section{
        box-sizing: border-box;
        display: block;
        position: absolute;
        right: 0px;
        margin-right: $space_2;
    }
    &__list{
        font-size: $font-size_s;
        display: inline-block;
        margin-right: $space_4;
        &:hover{
            cursor: pointer;
        }
    }
    &__text{
        color: $color-white !important;
    }
}

// ============================
// ヘッダー　スマホ用
// ============================
.l-header__sp{
    display: none;
    @include mq(){
        display: block;
        width: 100%;
        height: 100vh;
        background-color: $color-white2;
        z-index: 300;
        transition: all 0.5s ease-in-out;
        position: fixed;
        right: 0px;
        top: 0px;
        &--left {
            transform: translateX(-100%);
        }
        &.active {
            opacity: 1;
            transform: translateX(0px);
            transition: all 0.5s ease-in-out;
        }
        &__pa-5{
            padding: $space_5;
        }
        &__menu{
            font-size: $space_4;
            &__list{
                box-sizing: border-box;
                border-bottom: 1px solid $color_black;
                padding: $space_3 $space_5;
            }
        }
        &__text-black{
            color: $color_black !important;
        }
        &__pa25{
            padding: $space_2 $space_5 $space_2;
        }
        &__copy{
            font-size: $font-size_default;
            word-break: break-word;
            padding: 0px $space_5;
        }
        &__text__sm{
            font-size: $font-size_default;
        }


    }
    &__form{
        display: none;
        @include mq(){
            display: none;
        }
    }

}
