
.wrapper--main{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: #f4f4f4;
    @include mq(){
        width: 100%;
        height: 100%;
    }
}

// ============================
// 共通パーツ
// ============================
.l-main{
    &__top--wrapper{
        @include mq(){
            width: 100%;
        }
    }
    &__top--barner{
        width: 100%;
        text-align: center;
        @include mq(){
            width: 100%;
        }
    }
    // 利用規約など
    &__container{
        height: 100vh;
        @include mq(){
            height: 100vh;
        }
    }
    // 問い合わせ用
    &__contact{
        height: calc(100vh - 166px);
        @include mq(){
            height: 100vh;
            &.none {
                display: none;
            }
        }
    }
    &__title{
        font-size: $font-size_l;
        padding: 20px 0px 10px;
        text-align: center;
        color: #24292e;
        @include mq(){
            font-size: 1.3rem;
        }
        &__text{
            display: inline-block;
            @include mq(){
                display: inline-block;
            }
        }
    }
    &__function-head{
        width: 90%;
        margin: 0px auto;
        padding: 10px 40px;
        text-align: center;
        max-width: 980px;
        @include mq(){
            padding: 15px;
            width: 100%;
            max-width: 100%;
        }
    }
}
