// ============================
// パーツなど
// ============================

.js_toggle_guest{
    display: none;
    @include mq(){
        &.active {
            display: block;
            width: 100%;
            height: calc(100vh - 48px);
            background-color: $color_black;
            font-size: $font-size_s;
        }
    }
}

.width{
    &__half{
        width: 50% !important;
    }
    &__three{
        width: 40% !important;
    }
}

.m{
    &__r2{
        margin-right: $space_2;
    }
    &__r3{
        margin-right: $space_3;
    }
}
.c{
    &__color--blue {
        color: $color_blue_light2;
    }
}

.p-guest{
    &__icon{
        margin: $space_8 0px $space_10 $space_8;
    }
}

// ==================================
// c-icon
// ==================================
.c-icon {
    &__twitter {
        color: $color_blue_light2;
    }
    &--gray{
        color: $color-gray_icon;
    }
    &--white{
        color: $color-white;
    }
    // 余白
    &__mr-2{
        margin-right: $space_2;
    }
}

// ============================
// アラート/メッセージ関連
// ============================

.flash_message{
    padding: $space_4;
    background-color: $color_blue2;
    color: $color-white;
    text-align: center;
    display: block;
}

.error_message{
    padding: $space_4;
    background-color: $color_alert;
    color: $color-black;
    text-align: center;
    display: block;
    font-size: $font-size_xs;
}

.isFollowedColor{
    background-color: $color_blue2;
    color: $color-white;
    border: none;
    &:focus {
        outline:0;
    }
}
.pAccountActive{
    background-color: $color_orange;
}

// ============================
// misslogin, passreset 注意テキスト
// ============================
.c-alert{
    &__caution1{
        color: $color-error !important;
        line-height: 1.2;
    }
    &__caution2{
        color: $color-error !important;
        line-height: 1.2;
        margin-bottom: $space_5;
    }
    &__caution3{
        line-height: 1.2;
        margin-top: $space_20;
    }
    &__success{
        color: #386cfa9c;
        line-height: 1.2;
        margin-bottom: $space_5;
    }
}

// カラー
.u-color{
    &__bg--white{
        background: $color-white;
    }
    &__text--white{
        color: $color-white;
    }
    &__icon{
        color: $color_blue;
    }
}

// モーダルでのパーツなど
.u-display__flex--left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mq() {
        // display: block;
    }
}

// アニメーション
//page
.page-enter {
    transform: translate(10%, 0);
    opacity: 0;
}
.page-enter-to {
    opacity: 1;
}
.page-enter-active {
    transition: all .7s 0s ease;
}
.page-leave {
    transform: translate(0, 0);
    opacity: 1;
}
.page-leave-to {
    transform: translate(-10%, 0);
    opacity: 0;
}
.page-leave-active {
    transition: all .3s 0s ease;
}